<?xml version="1.0" encoding="UTF-8"?>
<servers>

	<server>

		<id>central</id>
		<username>${env.USER_NAME}</username>
		<password>${env.PASSWORD}</password>

	</server>

	<server>

		<id>snapshots</id>
		<username>${env.USER_NAME}</username>
		<password>${env.PASSWORD}</password>

	</server>


</servers>